.img-modal {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

/* aktif */
.img-modal.show {
    opacity: 1;
    pointer-events: auto;
    background-color: rgba(0,0,0,0.85);
    backdrop-filter: blur(4px);
}

.img-modal-content {
    max-width: 90%;
    max-height: 85%;
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* zoom in */
.img-modal.show .img-modal-content {
    transform: scale(1);
    opacity: 1;
}

.img-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-modal.show .img-close {
    opacity: 1;
}

img.zoomable {
    cursor: zoom-in;
}
